<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hy2014.workovertime"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />
    <!-- 测试声明 -->
    <!-- 包路径必须和manifest标签的包相同 -->
    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Test My App"
        android:targetPackage="com.hy2014.workovertime" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >

        <!-- 添加调试类库 -->
        <!-- 测试类 -->
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".MainActivity" /> -->
        <!-- 选择加班时间 -->
        <activity
            android:name=".SelectDateActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".Welcome" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".SummaryActivity" />
        <activity android:name=".SetupActivity" />
        <activity android:name=".SetupSalaryActivity" />
        <activity android:name=".SetSalaryActivity" />
    </application>

</manifest>